* {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    border: border-box;
}



.store {
    height: 70px;
    background-color: #0f1111;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.store__logo {
    width: 100px;
    height: 50px;
    display: flex;

}

.logo {
    width: 100px;
    height: 50px;
    background-image: url('amazon_logo.png');
    background-size: cover;
    /* margin-left: 10px;
    margin-top: 10px; */

}


.border {
    border: 2px solid transparent;

    <p>world wide</p>
}

.border:hover {
    border: 2px solid #ffffff;
}

.store__address {
    margin-left: 5px;
    margin-top: 5px;
}

.one {
    color: #fbfbfb;
    font-size: 0.75rem;
    margin-left: 20px;
}

.two {
    font-size: 1rem;
    margin-right: 4px;
    font-weight: bold;
}

.address-icon {
    display: flex;
    align-items: center;
}

/* .address-icon{
        border: 2px solid transparent;
     }
     .address-icon:hover{
        border: 2px solid #ffffff;
     } */
.one {
    border: 2px solid transparent;
}

.one:hover {
    border: 2px solid #ffffff;

}

.store-search {
    display: flex;

    background-color: beige;
    width: 500px;
    height: 40px;
    border-radius: 3px;

}

.store-search:hover {
    border: 2px solid #febd69;


}

.seacrh-sel {
    background-color: f3f3f3;
    width: 40px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;

}

.search-inp {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 40px;
    background-color: #febd69;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
}


.store-sign {
    font-size: 0.7rem;

}

.store-tre {
    font-size: 0.85rem;
    font-weight: bold;
}

.store-cart i {
    font-size: 30px;

}

.store-cart {
    font-size: 0.85rem;
    font-weight: bold;
}

/* .panal-options{
      height: 40px;
      background-color: #232f3e;
      color: #fbfbfb;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      

}

.panal-options{
    display:flex;
    margin-left: 10px;
    
  
   }
   

.panal-options{
      width: 70%;
      font-size: 0.85rem;
   
   }
    
   .options-right {
      margin-left: 30px;
     /*  */
/* font-size: 0.9rem;
    font-weight: bold;
   } */

.panal {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panal-ops p {
    display: inline;
    margin-left: 10px;
}

.panal-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panal-deal {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-sec {
    background-image: url(hero_image.jpg );
    height: 350px;
    background-size: cover;
}

.shoping-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}


.content>p {
    color: #007185;
}

.content>p:hover {
    cursor: pointer;
}

footer {
    margin-top: 15px;
}

.foot-panal {
    background-color: #37475a;
    color: #fbfbfb;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panal2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul>a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddd;


}

ul>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.foot-panal3 {
    background-color: #222f3d;
    color: white;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panal4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;

}

.pages {


    padding: 10px;
}

.copy {

    padding: 5px;
}

.pages:hover {
    cursor: pointer;
    text-decoration: underline;
}

.copy:hover {
    cursor: pointer;
    text-decoration: underline;
}